<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <form>
        ID : <input type="text" name="id" id="id"> <br>
        PWD : <input type="pwd" name="pwd" id="pwd"> <br>
        <button>Submit</button>
         
    </form>
</body>

<script>
    function registerFood(evt) {
  evt.preventDefault(); /* POST 이벤트 중지 */
  const id = evt.target.id.value;
  const pwd = evt.target.pwd.value;
  if (!id || !pwd) {
    return alert('이름과 개수를 모두 입력하세요');
  }

  const url = 'https://b2n7r7nk8h.execute-api.ap-northeast-2.amazonaws.com/loginAPI /login';
  const data = { id, pwd };
  fetch('https://b2n7r7nk8h.execute-api.ap-northeast-2.amazonaws.com/loginAPI/login', {
    method: 'POST',
    headers : {
    'Content-Type': 'application/json',
    'redirected':'true'
  },
    body: JSON.stringify(data),
  }).then((res)=>{
        return res.json()
         
  }).then((json)=>{
        console.log(json);
  })
}

document.querySelector('form').addEventListener('submit', registerFood);

</script>
</html>